/* @import url('https://fonts.googleapis.com/css?family=Open+Sans'); */

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* font-family: 'Open Sans', sans-serif; */
  margin: 0;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.3;
}

a {
  color: #5A69DC;
  text-decoration: none;
  font-weight: 600;
}

.Hero {
  background: url('https://drh2acu5z204m.cloudfront.net/items/09450B1E1S3Y0n3O0o08/work_redesign.png?X-CloudApp-Visitor-Id=3139995');
  height: 750px;
  background-size: cover;
  background-position: center;
}

.HeroGroup {
  /* margin: 0 auto; */
  float: right;
  padding: 232px 50px;
  max-width: 450px; 
  /*if lower than 350px, it gonna take 100%*/
}

.Hero h1 {
  margin: 0;
  color: #050A27;
  font-size: 35px;
  font-weight: 500;
  line-height: 1.3;
}

.Hero p {
  color: rgba(78, 78, 78, 0.6);
  font-weight: 300;
  font-size: 16px;
  line-height: 1.6;
}

.HeroButton {
  display: inline-block;
  margin-top: 20px;
  transition: 0.5s cubic-bezier(0.2, 0.8, 0.2, 1.0);
}

.HeroButton:hover{
  transform: translateY(-3px);
}

.Hero a {
  transition: 0.5s cubic-bezier(0.2, 0.8, 0.2, 1.0);
  font-size: 16px;
  font-weight: 500;
  color: white;
  text-transform: capitalize;
  background: rgba(90,105,220, 1);
  padding: 20px 50px;
  border-radius: 30px;
  box-shadow: 0px 4px 12px rgba(5, 10, 39, 0.15);
  box-shadow: 0px 8px 20px rgba(5, 10, 39, 0.1);
}

.Hero a:hover {
  background: rgb(104, 120, 245);
  box-shadow: 0px 15px 30px rgba(5, 10, 39, 0.1);
}

@media (max-width: 900px){
  .HeroGroup {
    padding: 240px 80px;
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
    float: left;
  }
}

@media (max-width: 900px){
  .Hero {
    background: url('https://cl.ly/593ed6b5f7b4/work_redesign_s.png');
    background-size: cover;
    background-position: center;
  }
}

@keyframes HeroAnimation{
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}